
	/* 300x250 */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
#timer-ad-wrapper-2{
	width:300px;
	height:250px;
	margin:-4px;
}
.image-2{
	position:relative;
	height: 250px;
}
.timer-2{
	position:absolute;
	top:65%;
	left:33%;
    padding: 5px;
}
#time-show-2{
	color:white;
	font-size: 12px;
}
#iftar-time-2{
	position:absolute;
	top:57%;
	left:36%;
	color:white;
	font-size: 15px;
}