
	/* 320x50 */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
#timer-ad-wrapper-3{
	width:320px;
	height:50px;
	margin:-4px;
}
.image-3{
	position:relative;
	height:50px;
}
.timer-3{
	position:absolute;
	top:25%;
	left:68%;
    padding: 5px;
}
#time-show-3{
	color:white;
	font-size: 10px;
}
#iftar-time-3{
	position: absolute;
    color: white;
    font-size: 10px;
    right: 18%;
    top: 5px;
}
	