
	/* 250x250 */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
#timer-ad-wrapper-1{
	width:250px;
	height:250px;
	margin:-4px;
}
.image-1{
	position:relative;
	height: 250px;
}
.timer-1{
	position:absolute;
	top:65%;
	left:30%;
    padding: 5px;
}
#time-show-1{
	color:white;
	font-size: 12px;
}
#iftar-time-1{
	position:absolute;
	top:59%;
	left:37%;
	color:white;
	font-size: 14px;
}

	