
	/* 728x90 */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
#timer-ad-wrapper-5{
	width:728px;
	height:90px;
	margin:-4px;
}
.image-5{
	position:relative;
	height: 90px;
}
.timer-5{
	position:absolute;
	top:35%;
	left:69%;
    padding: 5px;
}
#time-show-5{
	color:white;
	font-size: 15px;
}
#iftar-time-5{
	position:absolute;
	top:13%;
	left:71%;
    padding: 5px;
    color:white;
	font-size: 14px;
}	