
	/* 468x60 */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}	
#timer-ad-wrapper-4{
	width:468px;
	height:60px;
	margin:-4px;
}
.image-4{
	position:relative;
	height: 60px;
}
.timer-4{
	position:absolute;
	top:35%;
	left:68%;
    padding: 5px;
}
#time-show-4{
	color:white;
	font-size: 12px;
}
#iftar-time-4{
	position: absolute;
    top: 15%;
    color: white;
    font-size: 10px;
    right: 17%;
}
